<link href="<%= WEBLINK %>css/main.css" rel="stylesheet">
<style>
	#dropdown1 a:hover{
		text-decoration: underline;
	}
	#dropdown1 a:visited{
		color:#93BB24;
	}
</style>
<body id="vol_body">
<%= form_for(@volunteer) do |f| %>


<h2 id="sub-vol-head">Volunteer Registration</h2>

<form class="form-horizontal feedback-form" id="feed-form">
	<div class="col-xs-1 col-md-4"></div>
		<div class="row">
			<div class="col-xs-8 col-md-6" id="box">
				<div class="row form-group">
					<span class="ccform-addon">
						<i class="fa fa-user fa-2x"></i>
					</span>
					<span class="form-fields col-xs-11 col-sm-7">
						<%= f.text_field :name , :class => 'form-control',placeholder: "Name" ,:required => true %>
					</span>
					<div class="col-sm-1"></div>
				</div>
				<div class="row form-group">
					<span class="ccform-addon">
						<i class="fa fa-registered fa-2x"></i>
					</span>
					<span class="form-fields col-xs-11 col-sm-7">
						<%= f.text_field :roll , :class => 'form-control' , placeholder: "Roll Number" ,:required => true ,:maxlength => 11%>
					</span>
					<div class="col-sm-1"></div>	
				</div>
				<div class="row form-group">
					<!--<span class="form-label col-xs-4">
						<%= f.label :'Phone no.' , :class => 'control-label' %>
					</span>-->
					<span class="ccform-addon">
						<i class="fa fa-mobile fa-3x"></i>
					</span>
					<span class="form-fields col-xs-11 col-sm-7">
						<%= f.telephone_field :phone , :class => 'form-control',placeholder: "Mobile Number",:required => true ,:maxlength => 10%>
					</span>
					<!--<div class="col-sm-1"></div>-->
				</div>
				<div class="row dropdown_feed" id="dropdown1">
					<span class="ccform-addon">
						<i class="fa fa-shirtsinbulk fa-2x"></i>
					</span>
					<span class="form-fields col-xs-11 col-sm-7">
						<%= f.select :tshirt_size, ['XXL','XL', 'L', 'M','S', 'XS'] , {:prompt => 'T-shirt size'}, { :class => 'sub-menu-parent',:required => true} %>
						<a href="table" target="_blank" style="font-size: 1.2em;">See size chart</a>	
					</span>
				</div>
				<div class="row form-group">
					<span class="ccform-addon">
						<i class="fa fa-envelope fa-2x"></i>
					</span>
					<span class="form-fields col-xs-11 col-sm-7">
						<%= f.email_field :email , :class => 'form-control' ,placeholder: "Email" ,:required => true%>
					</span>
					<div class="col-xs-1"></div>
				</div>
				<div class="row dropdown_feed" id="dropdown2">
					<span class="ccform-addon">
						<i class="fa fa-shirtsinbulk fa-2x"></i>
					</span>
					<span class="form-fields col-xs-11 col-sm-7">
						<%= f.collection_select :preference1, @events,:id,:name, {:prompt => 'Preference1'}, { :class => 'sub-menu-parent',:required => true} %>	
					</span>
					<!--<div class="col-xs-1"></div>-->
				</div>
				<div class="row dropdown_feed" id="dropdown3">
					<span class="ccform-addon">
						<i class="fa fa-shirtsinbulk fa-2x"></i>
					</span>
					<span class="form-fields col-xs-11 col-sm-7">
						<%= f.collection_select :preference2, @events,:id,:name, {:prompt => 'Preference2'}, { :class => 'sub-menu-parent',:required => true} %>	
					</span>
					<!--<div class="col-xs-1"></div>-->
				</div>
				<div class="row dropdown_feed" id="dropdown4">
					<span class="ccform-addon">
						<i class="fa fa-shirtsinbulk fa-2x"></i>
					</span>
					<span class="form-fields col-xs-11 col-sm-7">
						<%= f.collection_select :preference3, @events,:id,:name, {:prompt => 'Preference3'}, { :class => 'sub-menu-parent',:required => true} %>	
					</span>
					<!--<div class="col-xs-1"></div>-->
				</div>
				<% if @volunteer.errors.any? %>
				    <div id="error_explanation" class="row col-xs-7">
				      <ul>
				      <% @volunteer.errors.full_messages.each do |message| %>
				        <li id="error_message"><%= message %></li>
				      <% end %>
				      </ul>
				    </div>
				  <% end %>
			</div>
		</div>	
	<div class="row" id="submit">
		<div class="col-xs-1 col-md-4"></div>
		<span class="col-xs-4">
			<center>
				<%= f.submit 'Submit', :class => 'submit_sub_btn'%>
			</center>
		</span>
		<div class="col-xs-4"></div>
	</div>
</form>
<%end%>
</body>
